/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 juil. 2019, 15:58:54
    Author     : paccalef
*/

    .breadcrumb li:first-of-type {  
        display: none !important;
    }
    
    .breadcrumb li:nth-of-type(2) {
       display: none !important;
    }
    
    #sub_contener_entrepot_fancy {
        position: relative;
        left: 75px;
    }
    
    #entrepot_fancy {
        position: fixed;
        z-index: 999;
        background: white;
        max-height: 500px;
        width: 800px;
        left:25%;
        top:17%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
   #shadow_fancy_background {
        background: grey;
        height: 100%;
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        opacity:0.9;
   }
   
   .ol_entrepot_copy_past {
       display:none;
   }
   
   .add-rsc-entrepot {
       cursor: pointer;
   }
   
   .li_entrepot_copy_past {
       cursor: pointer;
   }
   
   .li_section_entrepot_copy_past {
        list-style: square;  
   }
  
   #fast_metashared_mask {
    position: fixed;
    background-color: gray;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    left: 0;
    top: 0;
    opacity: 0.5;
   }
   
   #fast_metashared {
    position: fixed;
    background-color: white;
    width: 97%;
    height: 600px;
    z-index: 1000000000000000000;
    left: 2%;
    top: 9%;
    overflow-y: scroll;
    overflow-x: hidden;
   }